body {
  font-family: 'Inter', sans-serif;
}

.navbar_1 {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  font-size: 14px;
}

.nav_1 {
  display: flex;
  justify-content: space-between;
  width: 35%;
  list-style: none;
}

.nav_1--short {
  width: 18%;
}

.nav_1 a {
  text-decoration: none;
  color: #9ea39f;
}

.navbar_2 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.nav_2 {
  width: 50%;
  margin-top: 15px;
  margin-left: 20px;
}

.nav_btn button {
  width: 50px;
  padding: 15px;
  background: none;
  border-left: 1px solid #c3c9c5;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.nav_btn i {
  color: #cfd4d0;
  font-size: 17px;
  cursor: pointer;
}

.navbar_text {
  background: #e0dc07;
  padding: 8px 15px;
  font-size: 13px;
}

.navbar_text a {
  text-decoration: none;
  color: #000;
}

.top-container {
  display: grid;
  grid-template-columns: 1.9fr 1fr;
  grid-gap: 10px;
  width: 99%;
  margin: 2px auto 100px;
}

.top-container__main {
  display: flex;
  flex-direction: column;
  grid-row: 1/3;
  background: url(img/main_bg.jpg) no-repeat;
  background-size: cover;
  height: 460px;
  position: relative;
  z-index: -2;
  color: white;
}

.top-container__main::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(img/gradient.png) no-repeat;
  background-size: cover;
  z-index: -1;
}

.top-container__main::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to top, black 20%, transparent);
  background-size: cover;
  z-index: -1;
}

.top-container__img {
  width: 400px;
  height: 300px;
  padding: 20px 10px;
}

.top-container__main--txt h4 {
  padding: 20px 10px;
}

.top-container__main--txt h1 {
  padding: 20px 10px;
  font-size: 50px;
  font-weight: bolder;
}

.top-container__sidebar-1 {
  background: url(img/sidebg1.png);
  background-repeat: no-repeat;
  color: white;
  padding: 43px 10px;
  background-size: cover;
}

.top-container__sidebar h2 {
  padding-top: 80px;
  font-weight: bolder;
}

.top-container__sidebar-2 {
  background: url(img/sidebg2.jpg);
  background-repeat: no-repeat;
  color: white;
  padding: 43px 10px;
  background-size: cover;
  margin-top: 5px;
}

.content-1 {
  width: 90%;
  margin: 70px auto;
}

.grid-content1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
}

.content-1__header {
  color: red;
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 20px;
}

.grid-content1__item-img img {
  width: 100%;
  height: 150px;
}

.grid-content1__item p {
  margin-top: 10px;
  font-size: 17px;
  font-weight: bolder;
}

.grid-2__section {
  width: 90%;
  margin: 90px auto;
}

.grid-2 {
  display: flex;
  justify-content: space-between;
}

.grid-2__h2 {
  font-size: 25px;
  color: #f42;
  cursor: pointer;
}

.grid-2__list {
  display: flex;
  width: 30%;
  justify-content: space-between;
  list-style: none;
}

.grid-2__list a {
  color: #f42;
  font-weight: 600;
  text-decoration: none;
  padding-right: 10px;
  border-right: 1px solid #f42;
}

.grid-2__deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-top: 30px;
}

.grid-2__item {
  background: #fffaf8;
}

.grid-2__item-h5 {
  background: #f42;
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  color: white;
  cursor: pointer;
}

.grid-2__item-p {
  background: rgba(255, 68, 34, 0.08);
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.grid-2__icons {
  border-bottom: 1px solid rgba(255, 68, 34, 0.25);
  padding: 15px 5px;
  font-size: 15px;
  line-height: 25px;
}

.grid-2__icons span {
  color: grey;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.grid__footer {
  padding: 10px 5px;
  font-size: 12px;
  color: grey;
}

.nav_2 a:hover {
  color: #000;
}

.grid-2__icons span:hover {
  color: #000;
}

.grid-2__list a:hover,
.grid-2__h2:hover {
  color: #000;
}

.nav_btn i:hover {
  color: #8d8f8d;
}

.nav_1 a:hover,
#special a {
  color: white;
}

#list-special a {
  border-right: none;
}
