body {
  font-family: 'Inter', sans-serif;
}

.navbar_1 {
  display: flex;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  font-size: 13px;
}

.nav_1 {
  display: flex;
  justify-content: space-between;
  width: 37%;
  list-style: none;
  font-family: 'Lato', sans-serif;
}

.nav_1 li {
  padding: 2px;
}

.nav_1--short {
  width: 18%;
  margin-left: auto;
}

.nav_1 a {
  text-decoration: none;
  color: #9ea39f;
}

.navbar_2 {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-family: 'Rajdhani', sans-serif;
}

.display-later {
  display: none;
}

.nav_2 {
  width: 55%;
  margin-top: 15px;
  margin-left: 20px;
}

.nav_btn button {
  width: 50px;
  padding: 15px;
  background: none;
  border-left: 1px solid #c3c9c5;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.nav_btn i {
  color: #cfd4d0;
  font-size: 17px;
  cursor: pointer;
}

.navbar_text {
  background: #e0dc07;
  padding: 8px 15px;
  font-size: 13px;
}

.navbar_text a {
  text-decoration: none;
  color: #000;
}

.top-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  width: 99%;
  height: 400px;
  margin: 2px auto 100px;
}

.top-container__main {
  display: flex;
  flex-direction: column;
  grid-row: 1/3;
  background: url(img/main_bg.jpg) no-repeat;
  background-size: cover;
  height: 457px;
  position: relative;
  z-index: -2;
  color: white;
}

.top-container__main::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(img/gradient.png) no-repeat;
  background-size: cover;
  z-index: -1;
}

.top-container__main::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to top, black 20%, transparent);
  background-size: cover;
  z-index: -1;
}

.top-container__img {
  width: 400px;
  height: 300px;
  padding: 20px 10px;
}

.top-container__main--txt h4 {
  padding: 20px 10px;
}

.top-container__main--txt h1 {
  padding: 20px 10px;
  font-size: 50px;
  font-weight: bolder;
}

.top-container__sidebar-1 {
  background: linear-gradient(rgba(236, 240, 241, 0.7), rgba(44, 62, 80, 0.7)), url(img/sidebg1.png);
  background-repeat: no-repeat;
  color: white;
  padding: 43px 10px;
  background-size: cover;
}

.top-container__sidebar h2 {
  padding-top: 80px;
  font-weight: bolder;
  z-index: 1;
}

.top-container__sidebar-2 {
  background: linear-gradient(rgba(236, 240, 241, 0.7), rgba(44, 62, 80, 0.7)), url(img/sidebg2.jpg);
  background-repeat: no-repeat;
  color: white;
  padding: 43px 10px;
  background-size: cover;
  margin-top: 5px;
}

.content-1 {
  width: 90%;
  margin: 70px auto;
}

.grid-content1 {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.content-1__header {
  color: red;
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 20px;
}

.grid-content1__item-img img {
  width: 100%;
  height: 150px;
}

.grid-content1__item p {
  margin-top: 10px;
  font-size: 17px;
  font-weight: bolder;
}

.grid-2__section {
  width: 90%;
  margin: 90px auto;
}

.grid-2 {
  display: flex;
  justify-content: space-between;
}

.grid-2__h2 {
  font-size: 25px;
  color: #f42;
  cursor: pointer;
}

.grid-2__list {
  display: flex;
  width: 30%;
  justify-content: space-between;
  list-style: none;
}

.grid-2__list a {
  color: #f42;
  font-weight: 600;
  text-decoration: none;
  padding-right: 10px;
  border-right: 1px solid #f42;
}

.grid-2__deals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
  margin-top: 30px;
}

.grid-2__item {
  background: #fffaf8;
}

.grid-2__item-h5 {
  background: #f42;
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  color: white;
  cursor: pointer;
}

.grid-2__item-p {
  background: rgba(255, 68, 34, 0.08);
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.grid-2__icons {
  border-bottom: 1px solid rgba(255, 68, 34, 0.25);
  padding: 15px 5px;
  font-size: 15px;
  line-height: 25px;
}

.grid-2__icons span {
  color: grey;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.grid__footer {
  padding: 10px 5px;
  font-size: 12px;
  color: grey;
}

.grid-3 {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.hidden {
  visibility: hidden;
}

.grid-3__item {
  color: #f42;
  font-weight: bold;
}

.grid-3__item--content {
  background: url(img/img6.png);
  background-repeat: no-repeat;
  text-align: start;
  align-items: baseline;
  width: 100%;
  height: 250px;
  margin-top: 20px;
}

.grid-3__item--content-txt {
  padding: 180px 10px 0 10px;
  color: white;
  font-weight: bolder;
  line-height: 20px;
}

.grid-3__item--txt p {
  padding: 20px;
  font-weight: bolder;
  background-color: rgba(255, 68, 34, 0.08);
}

.grid-3__links {
  font-size: 14px;
  padding-left: 14px;
}

.grid-3__links li {
  border-bottom: 1px solid rgb(214, 208, 208);
  padding: 10px 5px 10px 0;
}

.grid-3__links li > a {
  color: #8d8f8d;
  text-decoration: none;
  font-size: 14px;
}

.grid-3__item--content__bg1 {
  background: url(img/img4.png);
  background-repeat: no-repeat;
}

.grid-3__item--content__bg2 {
  background: url(img/img5.jpg);
  background-repeat: no-repeat;
}

.grid-3__item--content__bg3 {
  background: url(img/img9.png);
  background-repeat: no-repeat;
}

.grid-3__item--content__bg4 {
  background: url(img/img2.png);
  background-repeat: no-repeat;
}

.grid-3__item--content__bg5 {
  background: url(img/img2.png);
  background-repeat: no-repeat;
}

.grid-3__item--content__bg6 {
  background: url(img/img8.jpg);
  background-repeat: no-repeat;
}

.grid-3__item--content__bg7 {
  background: url(img/img1.png);
  background-repeat: no-repeat;
}

.grid-4__header {
  font-size: 20px;
  color: #f42;
  margin-left: 5%;
}

.grid-4 {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-4__bg {
  background: url(img/ld_1.PNG);
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.grid-4__txt {
  margin-top: 10px;
}

.grid-4__txt h4 {
  padding-bottom: 10px;
  cursor: pointer;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}

.grid-4__txt p {
  font-family: 'Lato', sans-serif;
}

.grid-4__txt p > span {
  font-size: 13px;
  color: #9ea39f;
  text-decoration: line-through;
}

.grid-4__bg1 {
  background: url(img/ld_2.PNG);
  background-repeat: no-repeat;
}

.grid-4__bg2 {
  background: url(img/ld_3.PNG);
  background-repeat: no-repeat;
}

.grid-4__bg3 {
  background: url(img/ld_4.PNG);
  background-repeat: no-repeat;
}

.grid-4__bg4 {
  background: url(img/ld_5.PNG);
  background-repeat: no-repeat;
}

.grid-4__bg5 {
  background: url(img/ld_6.PNG);
  background-repeat: no-repeat;
}

.grid-4__bg6 {
  background: url(img/ld_7.PNG);
  background-repeat: no-repeat;
}

.grid-4__bg7 {
  background: url(img/ld_8.PNG);
  background-repeat: no-repeat;
}

.first-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #131313;
}

.first-footer__links {
  margin-top: 40px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.first-footer__links li {
  list-style: none;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

.first-footer__links li > a {
  color: #fff;
}

.first-footer__links_2 {
  display: flex;
  justify-content: space-between;
  width: 27%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
  font-family: 'Rajdhani', sans-serif;
}

.first-footer__links_2 li {
  list-style: none;
}

.first-footer__links_2 li > a {
  text-decoration: none;
  color: #aaa;
}

.second-footer {
  height: 100px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #aaa;
}

.footer-text {
  width: 50%;
}

#tnw {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

#love {
  color: red;
}

#stack {
  font-size: 14px;
  font-family: 'Heebo', sans-serif;
  color: #fff;
}

.nav_2 a:hover {
  color: #000;
}

.grid-2__list a:hover,
.grid-2__h2:hover {
  color: #000;
}

.nav_1 a:hover,
.first-footer__links li > a:hover,
.first-footer__links_2 li > a:hover {
  color: white;
}

.grid-2__icons span:hover {
  color: #000;
}

.nav_btn i:hover {
  color: #8d8f8d;
}

.grid-4__txt h4:hover {
  color: #f42;
  text-decoration: underline;
}

.first-footer__links li:hover {
  background: #000;
  border: 1px solid grey;
}

#special a {
  color: white;
}

#list-special a {
  border-right: none;
}

@media screen and (max-width: 1020px) {
  .top-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 7px;
    width: 99%;
    height: 200px;
    margin: 2px auto 150px;
  }

  .top-container__main {
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    background: url(img/main_bg.jpg) no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    z-index: -2;
    color: white;
  }

  .top-container__img {
    display: none;
  }

  .top-container__main--txt h4 {
    padding: 150px 70px 0 10px;
    margin-left: 20px;
  }

  .top-container__main--txt h1 {
    padding: 10px 15px 0 15px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
  }

  .top-container__sidebar-1 {
    background: linear-gradient(rgba(236, 240, 241, 0.7), rgba(44, 62, 80, 0.7)), url(img/sidebg1.png);
    background-repeat: no-repeat;
    color: white;
    padding: 27px 5px;
    background-size: cover;
    height: 100px;
  }

  .top-container__sidebar h2 {
    padding-top: 40px;
    font-weight: bolder;
    z-index: 1;
  }

  .top-container__sidebar-2 {
    background: linear-gradient(rgba(236, 240, 241, 0.7), rgba(44, 62, 80, 0.7)), url(img/sidebg2.jpg);
    background-repeat: no-repeat;
    color: white;
    padding: 23px 5px;
    background-size: cover;
    margin-top: 5px;
    height: 100px;
  }
}

@media screen and (max-width: 979px) {
  .nav_1 {
    display: flex;
    justify-content: space-between;
    width: 45%;
    list-style: none;
    font-family: 'Lato', sans-serif;
  }

  .nav_1--short {
    width: 20%;
    margin-left: auto;
  }

  .nav_2 {
    width: 70%;
    margin-top: 15px;
    margin-left: 20px;
  }

  .nav_2 li {
    padding-left: 5px;
  }
}

@media screen and (max-width: 813px) {
  .nav_1 {
    display: flex;
    justify-content: space-between;
    width: 49%;
    list-style: none;
    font-family: 'Lato', sans-serif;
  }

  .nav_1--short {
    width: 24%;
    margin-left: auto;
  }

  .nav_2 {
    width: 75%;
    margin-top: 15px;
    margin-left: 20px;
  }

  .nav_2 li {
    padding-left: 5px;
  }
}

@media screen and (max-width: 765px) {
  .navbar_1 {
    display: none;
  }

  .nav_2 {
    display: none;
  }

  .display-later {
    display: inline;
    cursor: pointer;
  }

  .bars-special {
    padding: 16px;
    border-left: 1px solid #c3c9c5;
  }

  .bars-special i {
    color: #f42;
  }

  .top-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2px auto 300px;
  }

  .top-container__main {
    height: 150px;
  }

  .navbar_text {
    text-align: center;
  }

  .top-container__main--txt h1 {
    margin-left: 10px;
    font-size: 20px;
  }

  .grid-content1 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2px;
    margin: 10px auto;
    width: 100%;
  }

  .grid-content1__item {
    display: flex;
  }

  .grid-content1__item-img {
    width: 60px;
    height: 40px;
  }

  .grid-content1__item-img img {
    width: 100%;
    height: 100%;
  }

  .grid-content1__item p {
    font-size: 10px;
    padding: 10px;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-2__h2 {
    color: #f42;
    font-size: 17px;
  }

  .grid-2__list {
    display: flex;
    flex-direction: column;
    line-height: 15px;
    margin-top: 5px;
  }

  .grid-2__list li a {
    border: none;
    font-size: 10px;
  }

  .grid-2__deals {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px auto;
    width: 100%;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-3__item--content {
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-4__item {
    display: flex;
    margin-top: 5px;
    font-size: 10px;
  }

  .grid-4__bg {
    width: 55px;
    height: 60px;
    margin-right: 10px;
    background-position: center;
  }

  .grid-4__txt {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
}
